<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Join Page</title>
</head>
<body>
<h1>Join Page</h1>
<hr/>
<form action="/join" method="POST">
  <input type="text" name="username" placeholder="Username" required="required"/> <br />
  <input type="password" name="password" placeholder="Password" required="required"/> <br />
  <input type="email" name="email" placeholder="Email" required="required"/> <br />
  <button>Join</button>
</form>
<a href="/joinForm">sign up here!</a>
</body>
</html>