<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>
<hr/>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" required="required"/> <br />
    <input type="password" name="password" placeholder="Password" required="required"/> <br />
    <button>Login</button>
</form>
<a href="/oauth2/authorization/google">Login with Google</a> <br />
<a href="/joinForm">Join here!</a>
</body>
</html>