<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta charset="UTF-8">
<title>View</title>
<body>
<div class="container">
    <p>글번호 : [[${halo.boardId}]]</p>
    <p>제목 : [[${halo.title}]]</p>
    <p>작성자 : [[${halo.name}]]</p>
    내용 : <textarea class="form-control" th:text="${halo.content}"></textarea>
    <p>조회수 : [[${halo.read}]]</p>
</div>
</body>
</html>